.mtck-elem {
  content: '';
  position: absolute;
  width: 7px;
  height: 25%;
  background-image: url(../images/matchstick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
